.game__container__card {
    border: 2px solid $colour-black;   
    background-size: cover;
}

.game__container__card--level-one {
    background-image: url(../images/card-backgrounds/sweets.jpg);
}

.game__container__card--level-two {
    background-image: url(../images/card-backgrounds/cat.jpeg);
}

.game__container__card--level-three {
    border: 2px solid $colour-bright-blue;   
    background-image: url(../images/card-backgrounds/dolly.jpeg);
}

.disabled {
    pointer-events: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    &__content {
        position: relative;
        top: 15%;
        height: 60%;
        width: 70%;
        max-height: 800px;
        max-width: 440px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $colour-white;
        margin: 0 auto;
        padding: 20px 40px;
        border: 2px solid $colour-black;
        border-radius: 20px;
        box-shadow: rgba(36, 34, 36, 0.35) 0px 5px 15px;
        
        &__close {
            color: #aaa;
            margin-left: auto;
            font-size: 28px;
            font-weight: bold;
            height: 16px;
        }
        &__close:hover,
        &__close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

        &__heading {
            font-size: 35px;
            font-family: 'Ms Madi', cursive;
        }
        &__subheading {
            font-size: 22px;
        }
        &__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 22px;
            &__item {
                padding: 2px 0 2px 0;
                margin-top: 8px;
                width: 120px;
                font-size: 20px;
                background-color: $colour-pale-pink;
                border: 1px solid $colour-black;
                border-radius: 5px;
                box-shadow: #19191a17 0px 3px 12px;   
            }
            &__item:hover {
                background-color: $colour-bright-pink;
                color: $colour-white;
                cursor: pointer;
            }
        }

        @media screen and (min-width: 480px) {
            width: 40%;
            height: 70%;
            &__heading {
                font-size: 37px;
            }
            &__subheading, &__close {
                font-size: 25px;
            }
            &__list {
                font-size: 25px;
                &__item {
                    width: 130px;
                    font-size: 20px;
                }
            }
        }
        @media screen and (min-width: 768px) {
            &__heading {
                font-size: 40px;
            }
        }
        @media screen and (min-width: 991px) {
            &__heading {
                font-size: 56px;
            }
            &__subheading, &__close {
                font-size: 30px;
            }
            &__list {
                font-size: 30px;
                &__item {
                    width: 140px;
                    font-size: 25px;
                }
            }
        }
    }
}
