@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif Display", serif;
  color: #01110A;
  text-align: center;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

body {
  background-color: #C1E2EC;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 70%;
  max-height: 800px;
  width: 80%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid;
  border-image-slice: 200 200 200 200;
  border-image-width: 35px;
  border-image-outset: 20px;
  border-image-repeat: stretch stretch;
  border-image-source: url(../images/frame.png);
}
.main__heading {
  font-size: 35px;
}
.main__subheading {
  font-size: 22px;
  margin: 0 7% 0 7%;
}
.main__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
}
.main__list__item {
  padding: 2px 0 2px 0;
  margin-top: 8px;
  width: 120px;
  font-size: 20px;
  background-color: #F5E0E5;
  border: 1px solid #01110A;
  border-radius: 5px;
  box-shadow: #19191a17 0px 3px 12px;
}
.main__list__item:hover {
  background-color: #FD56A6;
  color: #FCF7F8;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .main__heading {
    font-size: 37px;
  }
  .main__subheading {
    font-size: 25px;
  }
  .main__list {
    font-size: 25px;
  }
  .main__list__item {
    width: 130px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .main__heading {
    font-size: 40px;
  }
}
@media screen and (min-width: 991px) {
  .main__heading {
    font-size: 56px;
  }
  .main__subheading {
    font-size: 30px;
  }
  .main__list {
    font-size: 30px;
  }
  .main__list__item {
    width: 140px;
    font-size: 25px;
  }
}

.game {
  height: 100%;
  margin: 10% auto 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5%;
}
.game__heading {
  margin-bottom: 5%;
}
.game__subheading {
  margin-bottom: 5%;
}
.game__container {
  display: grid;
  width: 80%;
}
.game__container__card {
  box-shadow: rgba(36, 34, 36, 0.35) 0px 5px 15px;
}
.game__moves {
  margin: 5% 0 5% 0;
}
.game__container--easy {
  grid-gap: 18px;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(4, 60px);
}
@media screen and (min-width: 480px) {
  .game__container--easy {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
  }
}
@media screen and (min-width: 768px) {
  .game__container--easy {
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(4, 120px);
    grid-gap: 20px;
  }
}
@media screen and (min-width: 991px) {
  .game__container--easy {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 25px;
  }
}
.game__container--medium {
  grid-gap: 10px;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(6, 60px);
}
@media screen and (min-width: 480px) {
  .game__container--medium {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6, 70px);
  }
}
@media screen and (min-width: 768px) {
  .game__container--medium {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(6, 90px);
    grid-gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .game__container--medium {
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(4, 100px);
  }
}
.game__container--hard {
  grid-gap: 5px;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(7, 40px);
}
@media screen and (min-width: 480px) {
  .game__container--hard {
    grid-template-columns: repeat(4, 45px);
    grid-template-rows: repeat(7, 45px);
  }
}
@media screen and (min-width: 768px) {
  .game__container--hard {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(7, 70px);
    grid-gap: 10px;
  }
}
@media screen and (min-width: 991px) {
  .game__container--hard {
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 15px;
  }
}
@media screen and (min-width: 480px) {
  .game__heading {
    font-size: 30px;
  }
  .game__subheading {
    font-size: 25px;
  }
  .game__moves {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .game__heading {
    font-size: 40px;
  }
  .game__subheading {
    font-size: 25px;
  }
  .game__moves {
    font-size: 25px;
  }
}
@media screen and (min-width: 991px) {
  .game__heading {
    font-size: 56px;
  }
  .game__subheading {
    font-size: 30px;
  }
  .game__moves {
    font-size: 30px;
  }
}

.body-game--easy {
  background-color: #F5E0E5;
}

.body-game--medium {
  background-color: #46B5BC;
}

.body-game--hard {
  background-color: #FD56A6;
}

.game__container__card {
  border: 2px solid #01110A;
  background-size: cover;
}

.game__container__card--easy {
  background-image: url(../images/card-backgrounds/sweets.jpg);
}

.game__container__card--medium {
  background-image: url(../images/card-backgrounds/cat.jpeg);
}

.game__container__card--hard {
  border: 2px solid #46B5BC;
  background-image: url(../images/card-backgrounds/dolly.jpeg);
}

.disabled {
  pointer-events: none;
}