@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif Display", serif;
  color: #01110A;
}

body {
  background-color: #C1E2EC;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: url(../images/frame.png);
  background-size: 250px 450px;
  background-repeat: no-repeat;
  background-position: center;
}
.main__heading {
  margin-top: 15%;
  font-size: 40px;
}
.main__subheading {
  width: 40%;
  font-size: 22px;
}
.main__list {
  list-style: none;
  margin-bottom: 15%;
  font-size: 22px;
}
.main__list__item {
  font-size: 22px;
  padding: 5px 0 5px 0;
}
.main__list__item:hover {
  text-decoration: underline;
}

.body-game--easy {
  background-color: #F5E0E5;
}

.body-game--medium {
  background-color: #46B5BC;
}

.body-game--hard {
  background-color: #FD56A6;
}

.game {
  background: none;
}
.game__heading {
  text-align: center;
}
.game__subheading {
  text-align: center;
}
.game__container {
  display: grid;
  height: 80%;
  width: 80%;
  grid-gap: 15px;
}
.game__container__card {
  border: 2px solid #01110A;
  background-size: cover;
}
.game__container__card--easy {
  background-image: url(../images/card-backgrounds/sweets-background.jpg);
}
.game__container__card--medium {
  background-image: url(../images/card-backgrounds/cat-background.jpeg);
}
.game__container__card--hard {
  border: 2px solid #46B5BC;
  background-image: url(../images/card-backgrounds/dolly-background.jpeg);
}
.game__container--easy {
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(4, 60px);
}
@media screen and (min-width: 991px) {
  .game__container--easy {
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(3, 60px);
  }
}
.game__container--medium {
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(6, 60px);
}
@media screen and (min-width: 991px) {
  .game__container--medium {
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(4, 60px);
  }
}
.game__container--hard {
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(7, 60px);
}
@media screen and (min-width: 991px) {
  .game__container--hard {
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(4, 60px);
  }
}
.game__status {
  text-align: center;
}

i {
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
}