@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Noto+Serif+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Noto+Serif+Display:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif Display", serif;
  color: #01110A;
  text-align: center;
}

.disabled {
  pointer-events: none;
}

.container__card {
  border: 2px solid #01110A;
  background-size: cover;
}

.container__card--level-one {
  background-image: url(../images/card-backgrounds/sweets.jpg);
}

.container__card--level-two {
  background-image: url(../images/card-backgrounds/cat.jpeg);
}

.container__card--level-three {
  border-color: #46B5BC;
  background-image: url(../images/card-backgrounds/dolly.jpeg);
}

.home-btn {
  font-size: 30px;
  text-align: left;
  position: absolute;
  top: 40px;
  left: 40px;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  top: 15%;
  height: 60%;
  width: 70%;
  max-height: 800px;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #FCF7F8;
  margin: 0 auto;
  padding: 20px 40px;
  border: 2px solid #01110A;
  border-radius: 20px;
  box-shadow: rgba(36, 34, 36, 0.35) 0px 5px 15px;
}
.modal-content__close {
  color: #aaa;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
  height: 16px;
}
.modal-content__close:hover, .modal-content__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.list__item {
  padding: 2px 0 2px 0;
  margin-top: 8px;
  width: 120px;
  background-color: #F5E0E5;
  border: 1px solid #01110A;
  border-radius: 5px;
  box-shadow: #19191a17 0px 3px 12px;
}
.list__item:hover {
  background-color: #FD56A6;
  color: #FCF7F8;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .modal-content {
    width: 40%;
    height: 70%;
  }
}
body {
  background-color: #C1E2EC;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 70%;
  max-height: 800px;
  width: 80%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid;
  border-image-slice: 200 200 200 200;
  border-image-width: 35px;
  border-image-outset: 20px;
  border-image-repeat: stretch stretch;
  border-image-source: url(../images/frame.png);
}

.subheading {
  margin: 0 7% 0 7%;
}

.game {
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1%;
}
.game__heading {
  margin-bottom: 5%;
}
.game__subheading {
  margin-bottom: 5%;
}

.container {
  display: grid;
  width: 80%;
}
.container__card {
  box-shadow: rgba(36, 34, 36, 0.35) 0px 5px 15px;
}

.container--level-one {
  grid-gap: 18px;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(4, 60px);
}
@media screen and (min-width: 480px) {
  .container--level-one {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
  }
}
@media screen and (min-width: 768px) {
  .container--level-one {
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(4, 110px);
    grid-gap: 20px;
  }
}
@media screen and (min-width: 991px) {
  .container--level-one {
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
    grid-gap: 25px;
  }
}

.container--level-two {
  grid-gap: 10px;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(6, 50px);
}
@media screen and (min-width: 480px) {
  .container--level-two {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6, 70px);
  }
}
@media screen and (min-width: 768px) {
  .container--level-two {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(6, 90px);
    grid-gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container--level-two {
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(4, 100px);
  }
}

.container--level-three {
  grid-gap: 5px;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(7, 40px);
}
@media screen and (min-width: 480px) {
  .container--level-three {
    grid-template-columns: repeat(4, 45px);
    grid-template-rows: repeat(7, 45px);
  }
}
@media screen and (min-width: 768px) {
  .container--level-three {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(7, 70px);
    grid-gap: 10px;
  }
}
@media screen and (min-width: 991px) {
  .container--level-three {
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 15px;
  }
}

.moves {
  margin: 5% 0 5% 0;
}

.body-game--level-one {
  height: 100vh;
  background-color: #F5E0E5;
}

.body-game--level-two {
  height: 100vh;
  background-color: #46B5BC;
}

.body-game--level-three {
  height: 100vh;
  background-color: #FD56A6;
}

* {
  text-align: center;
  color: #01110A;
  font-size: 22px;
}

h1 {
  font-size: 35px;
}

li {
  font-size: 20px;
}

.modal-content__heading {
  font-family: "Ms Madi", cursive;
}

@media screen and (min-width: 480px) {
  * {
    font-size: 25px;
  }

  h1 {
    font-size: 37px;
  }

  li {
    width: 130px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 991px) {
  * {
    font-size: 30px;
  }

  h1 {
    font-size: 56px;
  }

  li {
    width: 140px;
    font-size: 25px;
  }
}